<h2>Pokedex List</h2>

<br>
  <%= link_to "Create new pokedex", new_pokedex_path, :class => "btn btn-primary mb-2" %>
<br>



<table class="table table-bordered mb-0">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Base Health Point</th>
      <th>Base Attack</th>
      <th>Base Defence</th>
      <th>Base Speed</th>
      <th>Element Type</th>
      <th>Image URL</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pokedexes.each do |pokedex| %>
    <tr>
      <td><%= link_to pokedex.name, pokedex_path(pokedex) %> </td>
      <td> <%= pokedex.base_health_point %> </td>
      <td> <%= pokedex.base_attack %> </td>
      <td> <%= pokedex.base_defence %> </td>
      <td> <%= pokedex.base_speed %> </td>
      <td> <%= pokedex.element_type %> </td>
      <td> <%= pokedex.image_url %> </td>
      <td id="action">
        <%= link_to "edit", edit_pokedex_path(pokedex), :class => "btn btn-primary" %>
        <%= link_to "delete", pokedex, method: :delete,
                                  data: { confirm: "You sure?" }, :class => "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-1" style="float: right">
  <%= will_paginate @pokedexes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>