<div class="col-centered mb-5"><h2>SELECT POKEMON</h2></div>

<%= form_for(@pokemon_battle, :html => {class: 'inline-form'}) do |f| %>

<% if @pokemon_battle.errors.present? %>
  <div class="alert alert-danger">
    <% @pokemon_battle.errors.full_messages.each do |error| %>
        <p> <%= error %></p>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-5">
    <%= f.label "Pokemon 1" %>
    <%= f.select :pokemon1_id, options_for_pokemon_id, {:prompt => "Select One"}, class: "form-control" %>
  </div>
  <div class="col-md-2 col-centered">
    <br><h1>VS</h1>

    <div class="col-md-12"><%= f.submit "vs_ai", class: "btn btn-primary mt-5 btn-block" %></div>
    <div class="col-md-12"><%= f.submit "auto", class: "btn btn-primary mt-2 btn-block" %></div>
    <div class="col-md-12" id="pvp"><%= f.submit "manual", class: "btn btn-primary mt-2 btn-block" %></div>

  </div>
  <div class="col-md-5">
    <%= f.label "Pokemon 2" %>
    <%= f.select :pokemon2_id, options_for_pokemon_id, {:prompt => "Select One"}, class: "form-control" %>
  </div>
</div>

<% end %>