<center class="mb-5">
  <h1>Pokemon Battle</h1>
  <h4>State : <%= @pokemon_battle.state %></h4>
  <h4>Turn : <%= @pokemon_battle.current_turn %></h4>
</center>


<div class='row'>

    <div class="col-md-5 col-centered">
      <%= form_for(:attack, url: pokemon_battle_path(@pokemon_battle), method: :patch, :html => {class: 'inline-form'}) do |f| %>
      <%= f.hidden_field :pokemon_id, value: @pokemon_battle.pokemon1.id %>
        <h4 class="mb-3"><%= link_to @pokemon_battle.pokemon1.name, pokemon_path(@pokemon_battle.pokemon1) %></h4>
        <span class="ml-5"><%= image_tag(@pokemon_battle.pokemon1.pokedex.image_url, height: '300', width: '300') %> </span>
        <div class="row mb-3 mt-2">
          <div class="col-md-5">HP</div>
          <div class="col-md-2">:</div>
          <div class="col-md-5"><%= @pokemon_battle.pokemon1.current_health_point %> / <%= @pokemon_battle.pokemon1_max_health_point %></div>
        </div>
        <% if @pokemon_battle.current_turn % 2 != 0 && @pokemon_battle.state != "finished" %>
          <div class="row mb-3">
            <div class="col-md-5">Skill</div>
            <div class="col-md-2">:</div>
            <div class="col-md-5"><%= f.select :skill_id, @pokemon_battle.pokemon1.pokemon_skills.map { |pokemon_skill| [pokemon_skill.skill.name + " (" + pokemon_skill.current_pp.to_s + " / " + pokemon_skill.skill.max_pp.to_s + ")", pokemon_skill.skill_id] }, {prompt: "Select Skill"}, class: "form-control" %></div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
                <%= f.submit "Attack", class: "btn btn-primary" %>
                <%= f.submit "Surrender", class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


  <div class="col-md-2"></div>


  <div class="col-md-5 col-centered">
    <%= form_for(:attack, url: pokemon_battle_path(@pokemon_battle), method: :patch, :html => {class: 'inline-form'}) do |f| %>
    <%= f.hidden_field :pokemon_id, value: @pokemon_battle.pokemon2.id %>
      <h4 class="mb-3"><%= link_to @pokemon_battle.pokemon2.name, pokemon_path(@pokemon_battle.pokemon2) %></h4>
      <span class="ml-5"><%= image_tag(@pokemon_battle.pokemon2.pokedex.image_url, height: '300', width: '300') %> </span>
      <div class="row mb-3 mt-2">
        <div class="col-md-5">HP</div>
        <div class="col-md-2">:</div>
        <div class="col-md-5"><%= @pokemon_battle.pokemon2.current_health_point %> / <%= @pokemon_battle.pokemon2_max_health_point %></div>
      </div>
      <% if @pokemon_battle.current_turn % 2 == 0 && @pokemon_battle.state != "finished" %>
        <div class="row mb-3">
          <div class="col-md-5">Skill</div>
          <div class="col-md-2">:</div>
          <div class="col-md-5"><%= f.select :skill_id, @pokemon_battle.pokemon2.pokemon_skills.map { |pokemon_skill| [pokemon_skill.skill.name + " (" + pokemon_skill.current_pp.to_s + " / " + pokemon_skill.skill.max_pp.to_s + ")", pokemon_skill.skill_id] }, {prompt: "Select Skill"}, class: "form-control" %></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
              <%= f.submit "Attack", class: "btn btn-primary" %>
              <%= f.submit "Surrender", class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
<br>
<h3>
<center>
  <% if @pokemon_battle.state=="finished"%>
  <p class="bg-primary text-white mb-0"><%= Pokemon.find_by(id: @pokemon_battle.pokemon_winner_id).name %> Win! </p>
  <p class="bg-danger text-white"><%= Pokemon.find_by(id: @pokemon_battle.pokemon_loser_id).name %> Lose </p>
  <% end %>
</center>
</h3>
<%= link_to "View battle logs", show_battle_log_pokemon_battle_path(@pokemon_battle), :class => "btn btn-primary" %>
<%= link_to "Back to Battle List", pokemon_battles_path, class: "btn btn-primary" %>