<h2>Pokemon List</h2>

<br>
  <%= link_to "Create new pokemon", new_pokemon_path, :class => "btn btn-primary mb-2" %>
<br>



<table class="table table-bordered mb-0">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Max Health Point</th>
      <th>Current Health Point</th>
      <th>Attack</th>
      <th>Defence</th>
      <th>Speed</th>
      <th>Current Experience</th>
    </tr>
  </thead>
  <tbody>
    <% @pokemons.each do |pokemon| %>
    <tr>
      <td><%= link_to pokemon.name, pokemon_path(pokemon) %> </td>
      <td> <%= pokemon.level %> </td>
      <td> <%= pokemon.max_health_point %> </td>
      <td> <%= pokemon.current_health_point %> </td>
      <td> <%= pokemon.attack %> </td>
      <td> <%= pokemon.defence %> </td>
      <td> <%= pokemon.speed %> </td>
      <td> <%= pokemon.current_health_point %> </td>
      <td id="action">
        <%= link_to "edit", edit_pokemon_path(pokemon), :class => "btn btn-primary" %>
        <%= link_to "delete", pokemon, method: :delete,
                                  data: { confirm: "You sure?" }, :class => "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-1" style="float: right">
  <%= will_paginate @pokemons, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>