<div class="row">
  <div class="col-md-12">
    <%= link_to "Heal", heal_pokemon_path(@pokemon), class: "btn btn-success" %>
    <%= link_to "Edit", edit_pokemon_path(@pokemon), class: "btn btn-primary" %>
    <%= link_to "Delete", @pokemon, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn btn-danger" %>
    <br><br>
    <div class="row">
      <div class="col-md-6"><%= image_tag(@pokemon.pokedex.image_url, height: '400', width: '400') %></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3> <%= @pokemon.name  %> </h3>
          </div>
        <br>
          <div class="col-md-12">
            <div class="row mb-3">
              <div class="col-md-6">Elemenet Type :</div>
              <div class="col-md-6"> <%= @pokemon.pokedex.element_type %></div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">Level :</div>
              <div class="col-md-6"> <%= @pokemon.level %></div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">Max Health Point :</div>
              <div class="col-md-6"> <%= @pokemon.max_health_point %></div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">Current Health Point :</div>
              <div class="col-md-6"> <%= @pokemon.current_health_point %></div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">Attack :</div>
              <div class="col-md-6"> <%= @pokemon.attack %></div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">Defence :</div>
              <div class="col-md-6"> <%= @pokemon.defence %></div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">Speed :</div>
              <div class="col-md-6"> <%= @pokemon.speed %></div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">Current Experience :</div>
              <div class="col-md-6"> <%= @pokemon.current_experience %></div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <% if @pokemon_skills.errors.present? %>
      <div class="alert alert-danger">
        <% @pokemon_skills.errors.full_messages.each do |error| %>
            <p> <%= error %></p>
        <% end %>
      </div>
    <% end %>

    <div class="row">

      <div class="col-md-12">
        <%= form_for(:pokemon_skill, url: create_pokemon_skill_pokemon_path(@pokemon), :html => {class: 'inline-form'}) do |f| %>
          <div class="row mb-3 mt-3">
            <div class="col-md-1"><%= f.label "Add Skill", class: "pt-2"%></div>
            <div class="col-md-4"><%= f.select :skill_id, @options_for_skills, {prompt: "Select Skill"}, class: "form-control" %></div>
            <div class="col-md-1"><%= f.submit "Save", class: "btn btn-primary"%></div>
          </div>
        <% end %>

        <table class="table table-bordered mb-0 mt-2">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Current PP</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @pokemon.pokemon_skills.each do |pokemon_skill| %>
            <tr>
              <td><%= pokemon_skill.skill.name %></td>
              <td><%= pokemon_skill.current_pp %> / <%= pokemon_skill.skill.max_pp %></td>
              <td><%= link_to "delete", destroy_pokemon_skill_pokemon_path(pokemon_skill.pokemon_id, pokemon_skill.skill_id), method: :delete,
                                  data: { confirm: "You sure?" }, :class => "btn btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

  </div>
  <div class="col-md-12">

  </div>
</div>